* { position:relative;}
span {display: contents}
div {display: inherit}

.rustex-scaled{
    width: var(--this-width);
    min-width: var(--this-width);
}
.rustex-scaled>*:first-child {
    --current-width:var(--this-width);
}

.resetfont, .body {
    font-family: Latin Modern, STIXgeneral, Times, Times New Roman,Symbol, cmr10, CMSY10, CMEX10, serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
}

.monospaced {
    font-family: Latin Modern Mono, FreeMono,Courier New,monospace;
}

.blackboard {
    font-family: msbm;
}

.script {
    font-family: URW Chancery L, cursive;
}

.sansserif {
    font-family: Latin Modern Sans, sans-serif;
}

.body {
    background-color:#f9fafb;
    color: #000000;
}

.body, .vbox, .foreign {
    display:inline-flex;
    flex-direction: column;
}

.hbox, .vbox {
    width: auto;
    height: auto;
    overflow: visible;
}

.vbox {
    flex-wrap: nowrap;
}

.hbox {
    display:inline-block;
    white-space: nowrap;
}

.paragraph {
    text-align:justify;
    white-space:normal;
    display: inline-block;
}

.reftarget {
}
.vrule {
}
.hrule {
}
a {
    color: inherit;
    text-decoration: inherit;
}
.raise {
}
.moveright {
}
hr {width: 100%;}

math {
    vertical-align: middle;
    line-height: inherit;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    font-weight: inherit;
}
mtext {
    letter-spacing: initial;
    word-spacing: initial;
}
.displaymath {
    position: relative;
}
.displaymathcontainer {
    position: relative;
    text-align:center;
    display:block;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
}