@import url('https://fonts.cdnfonts.com/css/latin-modern-math');
@font-face {
    font-family: 'Latin Modern SmallCaps';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmromancaps10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern SmallCaps';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmromancaps10-oblique.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-italic.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: bold;v
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-bold.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-bolditalic.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/265/lmmono10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/265/lmmono10-italic.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/265/lmmonolt10-bold.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/265/lmmonolt10-boldoblique.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/267/lmsans10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/267/lmsans10-oblique.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/267/lmsans10-bold.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/267/lmsans10-boldoblique.otf');
}

* { position:relative;}
span {display: contents}
div {display: inherit; white-space: normal}

.resetfont, .body {
    font-family: Latin Modern, STIXgeneral, Times, Times New Roman,Symbol, cmr10, CMSY10, CMEX10, serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
}

.monospaced {
    font-family: Latin Modern Mono, FreeMono,Courier New,monospace;
}

.blackboard {
    font-family: msbm, Latin Modern Math,math;
}

.script {
    font-family: URW Chancery L, cursive;
}

.sansserif {
    font-family: Latin Modern Sans, sans-serif;
}

.text {
    display:contents;
}

.body {
    background-color:#f9fafb;
    color: #000000;
}

.body, .vbox, .foreign {
    display:inline-flex;
    flex-direction: column;
}

.hbox, .vbox {
    width: fit-content;
    height: fit-content;
    overflow: visible;
    text-align: left;
}

.vbox {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.hbox {
    display:inline-flex;
    white-space: pre;
    justify-content: space-between;
    align-items: baseline;
}
.hboxcontainer::before {
    content:""; display:inline-block;height:100%;vertical-align: bottom;
}
.hbox > .text { display:inline-block}
.hbox > .hbox {
    zoom:1
}
.hbox > .text {zoom:1}

.hboxcontainer {
    display:inline-block;
    width: min-content;
    height: min-content;
}

.paragraph {
    text-align:justify;
    white-space:normal;
    display: inline-block;
    margin-top: auto;
}

.vboxcontainer {
    display: inline-block;
}

.reftarget {
}
.vrule {
    display:inline-block;
}
.vrulecontainer {
    display:inline-block;
}
.hbox > .vrulecontainer {
    display:inline-table;
}
.hrule {
    display: inline-block;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.raise {
    display: inline-block;
}
.moveright {
    display: inline-block;
}
hr {width: 100%;}

math {
    line-height: inherit;
    font-size: inherit;
    font-family: Latin Modern Math, math;
}
mtext {
    letter-spacing: initial;
    word-spacing: initial;
    display: inline-flex;
}
mrow {
}
.displayvbox {
    text-align:center;
    display:block;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-width: 100%;
}
.displaymath {
    position: relative;
}
.displaymathcontainer {
    text-align:center;
    display:block;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-width: 100%;
}
.foreign {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.hskip {
    display:inline-block;
}
.vskip {
    display: block;
}
.hkern {
    display: inline-block;
}
.Vss {
    display:none;
}
.Hss {
    display:none;
}
.HFil, .HFill, .HFill { display:inline-block }
.VFil, .VFill, .VFill { display:inline-block }
.halign{
    display:table;
    border-collapse:collapse;
}
.row{display: table-row}
.cell{display: table-cell;padding: 0}