@import url(https://db.onlinewebfonts.com/c/28328b8c8ae69456252ecea287697286?family=Latin+Modern+Math);
@import url('https://fonts.cdnfonts.com/css/latin-modern-roman');
@font-face {
    font-family: 'Latin Modern SmallCaps';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmromancaps10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern SmallCaps';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmromancaps10-oblique.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-italic.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-bold.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-bolditalic.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmmono10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmmono10-italic.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmmonolt10-bold.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmmonolt10-boldoblique.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmsans10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmsans10-oblique.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmsans10-bold.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmsans10-boldoblique.otf');
}

* { position:relative;}
span {display: contents}
div {display: inherit}

.rustex-scaled{
    width: var(--this-width);
    min-width: var(--this-width);
}
.rustex-scaled>*:first-child {
    --current-width:var(--this-width);
}

.resetfont, .body {
    font-family: Latin Modern, STIXgeneral, Times, Times New Roman,Symbol, cmr10, CMSY10, CMEX10, serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
}

.monospaced {
    font-family: Latin Modern Mono, FreeMono,Courier New,monospace;
}

.blackboard {
    font-family: msbm, Latin Modern Math,math;
}

.script {
    font-family: URW Chancery L, cursive;
}

.sansserif {
    font-family: Latin Modern Sans, sans-serif;
}

.body {
    background-color:#f9fafb;
    color: #000000;
}

.body, .vbox, .foreign {
    display:inline-flex;
    flex-direction: column;
}

.hbox, .vbox {
    width: auto;
    height: auto;
    overflow: visible;
}

.vbox {
    flex-wrap: nowrap;
}

.hbox {
    display:inline-block;
    white-space: nowrap;
}

.paragraph {
    text-align:justify;
    white-space:normal;
    display: inline-block;
}

.reftarget {
}
.vrule {
}
.hrule {
}
a {
    color: inherit;
    text-decoration: inherit;
}
.raise {
}
.moveright {
}
hr {width: 100%;}

math {
    vertical-align: middle;
    line-height: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-family: Latin Modern Math, math;
}
mtext {
    letter-spacing: initial;
    word-spacing: initial;
    vertical-align: middle;
}
mrow {
    vertical-align: middle;
}
.displaymath {
    position: relative;
}
.displaymathcontainer {
    position: relative;
    text-align:center;
    display:block;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
}