@import url('https://fonts.cdnfonts.com/css/latin-modern-math');
@font-face {
    font-family: 'Latin Modern SmallCaps';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmromancaps10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern SmallCaps';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmromancaps10-oblique.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-italic.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-bold.otf');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/266/lmroman10-bolditalic.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/265/lmmono10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/265/lmmono10-italic.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/265/lmmonolt10-bold.otf');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/265/lmmonolt10-boldoblique.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/267/lmsans10-regular.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/267/lmsans10-oblique.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/267/lmsans10-bold.otf');
}

@font-face {
    font-family: 'Latin Modern Sans';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('https://fonts.cdnfonts.com/s/267/lmsans10-boldoblique.otf');
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------- CSS -------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */

* { position:relative;}
a { color: inherit; text-decoration: inherit; }

.rustex-contents {display:contents}

/* ---------------------------------------------------- Fonts ------------------------------------------------------- */

.rustex-reset-font, .rustex-body {
    font-family: Latin Modern, STIXgeneral, Times, Times New Roman,Symbol, cmr10, CMSY10, CMEX10, serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
}

.rustex-body {--temp-width:0}

.rustex-monospaced {
    font-family: Latin Modern Mono, FreeMono,Courier New,monospace;
}

.rustex-blackboard {
    font-family: msbm, Latin Modern Math,math;
}

.rustex-script-font {
    /*font-family: URW Chancery L, cursive; /* TODO think about this */
}

.rustex-sans-serif {
    font-family: Latin Modern Sans, sans-serif;
}

.rustex-text {
    display:contents;
}

/* ---------------------------------------------------- Boxes ------------------------------------------------------- */

.rustex-body {
    background-color:#f9fafb;
    color: #000000;
    display:flex;
    flex-direction: column;
}

.rustex-vbox, .rustex-vtop, .rustex-vcenter,.rustex-foreign {
    display:inline-flex;
    flex-direction: column;
}

.rustex-hbox, .rustex-vbox, .rustex-vtop, .rustex-vcenter {
    overflow: visible;
    text-align: left;
}

.rustex-vbox, .rustex-vtop, .rustex-vcenter {
    height: min-content;
    width: min-content;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.rustex-vbox { vertical-align: bottom }
.rustex-vtop {vertical-align: baseline }
.rustex-vcenter{vertical-align: middle}

.rustex-vbox-height-container {
    display:inline-block;
    width:min-content;
    height: min-content;
    vertical-align: bottom;
}

.rustex-vtop-height-container {
    display:inline-block;
    width:min-content;
    height: min-content;
}

.rustex-vbox-container { display:inline-block; width: min-content; height: min-content }
.rustex-vtop-container { display:inline-block;; width: min-content; height: min-content }
.rustex-vcenter-container { display:inline-block; width: min-content; height: min-content }

.rustex-display-vcenter {
    text-align:center;
    display:block;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-width: 100%;
}

.rustex-hbox, .rustex-hbox-no-space {
    display:inline-flex;
    white-space: pre;
    width: min-content;
    height: min-content;
    align-items: baseline;
    /*
    vertical-align: bottom;
    align-items: end;
     */
}
/*.paragraph > .hbox { align-items: baseline}*/
.rustex-space-in-hbox {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    line-height: 0;
}
.rustex-hbox-no-space > .rustex-space-in-hbox, .rustex-hbox-no-space > span > .rustex-space-in-hbox, .rustex-hbox-no-space > span > span > .rustex-space-in-hbox {
    margin:0;
}
.rustex-hbox > .rustex-text, .rustex-hbox > span > .rustex-text, .rustex-hbox > span > span > .rustex-text, .rustex-hbox > span > span > span > .rustex-text {
    display:inline-block;
    margin-bottom:1.2px;
} /* line-height:0 */

.rustex-hbox-container {
    display:inline-flex;
    flex-direction: column;
    width: min-content;
    height: min-content;
    justify-content: end;
}

.rustex-paragraph {
    text-align:justify;
    white-space:normal;
    display: inline-block;
    margin-top: auto;
}
.rustex-paragraph > .rustex-text, .rustex-paragraph > span > .rustex-text, .rustex-paragraph > span > span > .rustex-text, .rustex-paragraph > span > span > span > .rustex-text  { display:contents; }

/* ---------------------------------------------------- Rules ------------------------------------------------------- */

.rustex-vrule {
    display:inline-block;
    vertical-align: text-bottom;
}
.rustex-hrule {
    display:block;
}
.rustex-vrule-container {
    display:inline-block;
}.rustex-hrule-container {
     display:block;
 }

/* ----------------------------------------------------- Math ------------------------------------------------------- */

math {
    line-height: inherit;
    font-size: inherit;
    font-family: Latin Modern Math, math;
}

/* inline-flex avoids weird vertical gaps in e.g. footnote markers */
mtext {
    letter-spacing: initial;
    word-spacing: initial;
    display: inline-flex;
}
mtext > {display:initial}
mtext * {
    font-size: inherit;
    writing-mode: initial;
}
.rustex-math-escape {
    display: inline-flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.rustex-display-math-container {
    text-align:center;
    display:block;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-width: 100%;
}
mi { position: relative}
mo {position: relative;padding-left: 0;padding-right: 0}
msub > :nth-child(2), msup > :nth-child(2) {font-size:inherit}
mfrac > * {font-size: inherit}
mover > :not(:first-child), munder > :not(:first-child) {font-size:inherit}
mtd {padding:0;text-align: start}

/* --------------------------------------------------- Spacing ------------------------------------------------------ */

.rustex-hskip {
    display:inline-block;
}
.rustex-vskip {
    display: block;
}
.rustex-kern {
    display: inline-block;
}
.rustex-Vss {
    display:none;
}
.rustex-Hss {
    display:none;
}
.rustex-HFil, .rustex-HFill { display:inline-block;margin-left: auto;margin-right: auto }
.rustex-VFil, .rustex-VFill { display:block;margin-top: auto;margin-bottom: auto }

/* --------------------------------------------------- Tables ------------------------------------------------------- */
tbody {display:table-row-group}
.rustex-halign{
    display:inline-grid;
    border-collapse:collapse;
    width: fit-content;
    grid-auto-rows: auto;
    align-content: baseline;
}
.rustex-cell {
    display:inline-flex;
    white-space: pre;
    align-items: baseline;
    width: 100%;
    height: 100%;
}
.rustex-noalign {
    display:inline-flex;
    flex-direction: column;
    overflow: visible;
    text-align: left;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.rustex-cell > .rustex-space-in-hbox, .rustex-cell > span > .rustex-space-in-hbox, .rustex-cell > span > span > .rustex-space-in-hbox {
    margin:0;
}

/* --------------------------------------------------- Others ------------------------------------------------------- */

.rustex-raise {
    display: inline-flex;
}
.rustex-moveright {
    display: inline-flex;
}
hr {width: 100%;}
.rustex-foreign {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: start;
    /*align-content: center;*/
    flex-wrap: wrap;
    line-height: 1;
}
svg, foreignObject {
    overflow: visible;
}
foreignObject {display: flex;}
.rustex-pdfmatrix {
    transform-origin: bottom left;
    display: inline-block;
}
.rustex-withwidth {
    width: var(--temp-width);
    min-width: var(--temp-width);
}
.rustex-withwidth > span {
    --document-width: var(--temp-width);
}